
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!--<ng2-slim-loading-bar color="blue"></ng2-slim-loading-bar>-->



<script>
  $(document).ready(function() {
     $('.animsition').animsition();
   });
</script>

<div [style.backgroundImage]="'url('+ backgroundGhibliDisney +')'" class="bg"></div>
<div class="animsition wat" [ngStyle]="{background: 'url(./backgroundGhibliDisney.jpg)'}">


<nav class="navbar navbar-expand-sm bg-light">
  <div class="container-fluid animsition">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a data-animsition-out-class="fade-out"  routerLink="add" class="nav-link animsition-link amber-lighter-hover" routerLinkActive="active">Add a user</a>
      </li>
      <li class="nav-item">
        <a data-animsition-out-class="fade-out" amber-lighter-hover routerLink = "info" class="nav-link animsition-link amber-lighter-hover" routerLinkActive="active">Info</a>
      </li>
    </ul>

  </div>

</nav>
</div>




<div class="container-fluid">
<router-outlet></router-outlet>
</div>
