body {

}

button {
  background-color: rgba(210,90,142,1)!important;
  border-color: rgba(210,90,142,1)!important;
  height: 7vh;
  width: 100%;
}


button:hover {
  background-color: rgba(210,90,142,1)!important;
  border-color: rgba(210,90,142,1)!important;
  height: 8vh;
}

.card {
  width: 50%;
  margin: auto;
  letter-spacing: 1.5px;
  margin-top: 6vh;
  text-transform: uppercase;
  font-size: 0.90rem;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  background: rgb(224,223,223);
background: linear-gradient(90deg, rgba(224,223,223,1) 0%, rgba(236,236,236,.90) 27%, rgba(235,234,234,1) 49%, rgba(237,237,237,0.8645833333333334) 98%);
  border-radius: 7px;
  color:rgba(210,90,142,1)!important;
}

input {
  background-color: rgba(255,255,255,0.90);
  border-color: transparent;

}

::placeholder {
  color: rgba(0,0,0,0.2)!important;
}
