.bold {
  font-weight: 700;
  text-transform: uppercase;
  color:#639eb6;
}

table {

  margin-top: 6vh;
  border-radius: 7px;
  border-color: transparent;

  background: rgb(224,223,223);
background: linear-gradient(90deg, rgba(224,223,223,1) 0%, rgba(236,236,236,.90) 27%, rgba(235,234,234,1) 49%, rgba(237,237,237,0.8645833333333334) 98%);

}

.pink {
  background-color: rgba(210,90,142,1)!important;
  border-color: rgba(210,90,142,1)!important;
}

.blue {
  background-color: #639eb6;
  border-color: #639eb6;
}
